* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  background-color: #000000;
  color: #ffffff;
}
h1 {
  position: relative;
  font-family: "Playfair Display";
  font-size: 30px;
  padding: 10px 0px;
  margin: 0px;
}

.field-box {
  border: 2px solid #d0d0d0;
  float: left;
  position: relative;
  margin: 10px;
}
.field {
  position: relative;
  width: 75vw;
  height: min(calc(75vw * 24 / 40), 960px);
  display: grid;
  grid-template-columns: repeat(40, minmax(2.5%, 50px));
  grid-template-rows: repeat(24, minmax(calc(75vw * 24 / 40 / 24), 50px));
}

.field .tile {
  background-size: 100%;
  background-image: url(./images/tile-.png);
  background-size: cover;
  z-index: 5;
}
.field .tileW {
  border: solid 1px rgb(65, 65, 65);
  background-image: url(./images/tile-W.png);
  background-size: cover;
}
.field .tileE {
  position: relative;
  background-image: url(./images/tile-E.png);
  background-size: cover;
  z-index: 10;
}

.field .tileP {
  position: relative;
  background-image: url(./images/tile-P.png);
  background-size: cover;
  z-index: 10;
}
.field .tileHP {
  background-image: url(./images/tile-HP.png);
  background-size: cover;
  z-index: 9;
}
.field .tileSW {
  background-image: url(./images/tile-SW.png);
  background-size: cover;
  z-index: 9;
}

.field .tileE .health {
  background-color: #ff0000;
  z-index: 11;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 3px;
}
.field .tileP .health {
  background-color: #00ff00;
  z-index: 11;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 3px;
}

.inventory-box {
  border: 2px solid #d0d0d0;
  float: left;
}
.inventory {
  position: relative;
  width: 800px;
  height: 32px;
}
.cl {
  clear: both;
  display: block;
}
